<div data-component="alias-list">
    <div class="wrapper">
        <div class="grid-container">
            <div class="grid-x">
                <div class="cell">
                    <h4 class="caption">
                        This is where you see a list of aliases been assigned to wallet <span class="address">(loading...)</span>
                    </h4>

                    <p>
                        To cast a vote on an alias, please provide a wallet WIF and click on a vote button below.
                    </p>

                    <form>
                        <div class="field wif">
                            <label for="wif">Your WIF:</label>
                            <input type="password" name="wif" value="L2QTooFoDFyRFTxmtiVHt5CfsXfVnexdbENGDkkrrgTTryiLsPMG">
                        </div>
                    </form>

                    <table class="hover">
                        <thead>
                            <tr>
                                <th class="index">Index</th>
                                <th class="alias">Alias</th>
                                <th class="score">Score</th>
                                <th class="operation">Operation</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
