<div data-component="all-report">
    <div class="wrapper">
        <div class="grid-container">
            <div class="grid-x">
                <div class="cell">

                    <h2 class="heading">Usage Report</h2>

                    <p>
                        Here are some of the latest alias creation entries.
                    </p>

                    <div class="count-container">
                        <span class="label">Total Alias Created:</span>
                        <span class="value">(loading...)</span>
                    </div>

                    <table class="hover">
                        <thead>
                            <tr>
                                <th class="index">#</th>
                                <th class="address">Address</th>
                                <th class="alias">Alias</th>
                                <th class="score">Score</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>
</div>
