<div data-component="back-top" style="display: none;">
    <div data-component="scroll-to" data-target-position="0" data-transition-speed="900">
        <div class="icon">
        <i class="fas fa-angle-up"></i>
        </div>
    </div>
</div>
