<div data-component="hero-card">
    <div class="wrapper">
        <h5 class="caption">{{ caption }}</h5>
        <div class="feature-image">
            <img src="{{ featureImagePath }}" alt="">
        </div>
        <div class="blurb">{{ blurb }}</div>
    </div>
</div>
