<ul class="menu {{ classes }}">
    <li class="item"><a href="/">Home</a></li>
    <li class="item"><a href="/aliases?w=Adii5po62hCCS9s9upsK6bXdWJosjHBt4G">Aliases</a></li>
    <li class="item"><a href="//github.com/rockacola/neo-alias" target="_blank">
        <span class="icon"><i class="fab fa-github"></i></span> Source</a>
    </li>
</ul>
