<div class="off-canvas position-right" id="offCanvas" data-off-canvas>
    <div class="wrapper">
        <div class="operator-container">
            <div class="grid-container">
                <div class="grid-x grid-margin-x align-middle">
                    <div class="small-10 medium-4 cell">
                        <div class="logo">
                            <a href="/">
                                NeoAlias
                            </a>
                        </div>
                    </div>

                    <div class="auto cell">
                        <div class="mobile-nav-toggle text-right" aria-label="Close menu" data-close>
                            {{!-- <span class="symbol close"></span> --}}
                            <span class="icon">
                                <i class="fas fa-times"></i>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="menu-container">
            {{> menu classes="vertical" }}
        </div>

    </div>
</div>
