<section class="page-footer">
    <div class="blurb-container">
        <div class="grid-container">
            <div class="grid-x align-middle">
                <div class="cell">
                    <div class="copyright-container text-center">
                        <span class="copyright">
                            Made with 
                            <span class="icon"><i class="fas fa-heart"></i></span> 
                            and 
                            <span class="icon"><i class="fas fa-coffee"></i></span>
                            .
                        </span>
                        <span class="version">(v{{ appVersion }})</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
