<section class="page-header" data-component="top-nav">
    <div class="grid-container">
        <div class="grid-x grid-margin-x align-middle">
            <div class="small-10 medium-3 cell">
                <div class="logo">
                    {{> logo }}
                </div>
            </div>

            <div class="show-for-medium auto cell">
                {{> menu classes="align-right" }}
            </div>

            <div class="show-for-small-only auto cell text-right">
                <div class="mobile-nav-toggle" aria-label="Open menu" data-toggle="offCanvas">
                    <i class="fas fa-bars" aria-hidden="true"></i>
                </div>
            </div>
        </div>
    </div>
</section>
