<div data-component="set-alias-form">
    <div class="wrapper">
        <div class="grid-container">
            <div class="grid-x">
                <div class="cell">
                    <h2 class="heading">Set Alias</h2>

                    <p>
                        Please only use alphanumeric, period and underscore in alias name.
                    </p>
                    <p>
                        The form is currently pre-filled to smoothen the demonstration process.
                    </p>

                    <form>
                        <div class="grid-container full">
                            <div class="grid-x">
                                <div class="cell field target-address">
                                    <label for="target-address">Target Address:</label>
                                    <input type="text" name="target-address" value="AVf4UGKevVrMR1j3UkPsuoYKSC4ocoAkKx">
                                </div>
                                <div class="cell field new-alias">
                                    <label for="new-alias">New Alias:</label>
                                    <input type="text" name="new-alias" value="test_alias">
                                </div>
                                <div class="cell field wif">
                                    <label for="wif">Your WIF:</label>
                                    <input type="password" name="wif" value="L2QTooFoDFyRFTxmtiVHt5CfsXfVnexdbENGDkkrrgTTryiLsPMG">
                                </div>
                                <div class="cell field submit">
                                    <button class="button">Submit</button>
                                </div>
                            </div>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>
