{{> doc-head templateName="page" }}
<section class="page-content">
    <div class="wrapper">
        {{> jumbotron jumbotronId="jumbotron-home"
            caption="Wallet Aliases"
        }}

        {{> alias-list }}
    </div>
</section>
{{> doc-foot }}
