{{> doc-head templateName="page" }}
<section class="page-content">
    <div class="wrapper">
        {{> jumbotron jumbotronId="jumbotron-home"
            caption="logo"
            subcaption="Give identities to NEO ecosystem."
        }}

        {{> hero heroId="hero-match" classes=""
            type="pair"
            size="medium"
            caption="Project Vision"
            subcaption=""
            blurb="The goal of this project is to provide a trustless, community-driven platform allowing anyone to place identities or pseudonyms to NEO wallets."
            featureImagePath="/images/id-card.png"
        }}

        <div class="text-block">
            <div class="wrapper">
                <div class="grid-container">
                    <div class="grid-x">
                        <div class="cell">
                            <h3>For dApp Competition Submission</h3>
                            <p>
                                This website will act as a light client interacts directly with smart contract.
                            </p>
                            <p>
                                Following functionalities are current available are part of Alpha phase in NEO TestNet:
                            </p>
                            <ul>
                                <li>Anyone is able to view wallets' aliases through this client and its 'Aliases page' (<a href="/aliases?w=Adii5po62hCCS9s9upsK6bXdWJosjHBt4G">Example</a>)</li>
                                <li>By providing your wallet WIF, you can assign alias to given wallet address with minimal TX cost. An up vote is casted programmatically upon alias creation.</li>
                                <li>A wallet address can only cast 1 vote to each alias.</li>
                                <li>By providing your wallet WIF, you can cast up or down vote towards specific wallet aliases.</li>
                            </ul>
                            <p>
                                A hard-coded testnet RPC node is targeted. It is possible to override the target URL by provide <code>?rpc=RPC_URL</code> as URL parameters. Example:
                            </p>
                            <pre>http://neoalias.com/?rpc=https%3A%2F%2Fseed1.neo.org%3A20331 // Change target RPC URL to https://seed1.neo.org:20331</pre>
                        </div>

                        <div class="cell">
                            <h4>Future Milestones</h4>
                            <p>
                                Going forward, there are still a lot of improvements needed before heading to MainNet:
                            </p>
                            <ul>
                                <li>Access level to allows 'admin' and 'moderator' privileged operations.</li>
                                <li>'neo-alias-js' JavaScript library.</li>
                                <li>Hosted REST API with off-chain caching for external application integrations.</li>
                                <li>'neo-alias-vm' to allow anyone to easily spin up a self-hosted 'NeoAlias node' and not forced to choose from NeoAlias official node (centralized) or directo smart contract communication (less features).</li>
                                <li>Improve reliability of invoker validation process within smart contract.</li>
                                <li>Resolve an issue with index corruption when it goes over 16.</li>
                                <li>Allows block-stamp logging per alias creation and vote cast. This will opens up further business logic such as cool down etc.</li>
                                <li>Improve and provide semantic error response from smart contract, oppose to simple "False" upon issues.</li>
                                <li>Add alias duplicate detection logic within smart contract.</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {{> all-report }}

        {{> set-alias-form }}

    </div>
</section>
{{> doc-foot }}
