//
// Modules / Post
//

.post-content {
  max-width: 740px;

  &.grid-container {
    padding-left: 20px;
    padding-right: 20px;
  }

  .author-container {
    border-bottom: solid 1px #eee;
    height: 80px;
    box-sizing: border-box;

    > .wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 100%;
    }

    .post-author {
      display: block;
      font-size: 14px;
      color: #4cbcff;
      font-weight: $font-weight-bold;

      .icon {
        display: inline-block;
        width: 16px;
        height: 16px;
      }

      .value {
        display: inline-block;
        margin-left: 12px;
      }
    }
  }

  .caption-container {
    text-align: center;

    .post-title {
      margin: 32px 0;
      font-size: 32px;
    }
  }

  .feature-container {
    height: 240px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    border-radius: 6px;
    // box-shadow: 0 2px 0 rgba(black, .05);
    transition: height .3s;

    @include breakpoint(medium) {
      height: 288px;
    }
  }

  .meta-container {
    height: 80px;
    box-sizing: border-box;

    > .wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 100%;
    }

    .post-date {
      display: block;
      font-size: 14px;
    }
  }

  .entry-content {
    margin-top: 20px;
    margin-bottom: 80px;

    h1 {
      font-size: 30px;
    }

    h2 {
      font-size: 28px;
    }

    h3 {
      font-size: 24px;
    }

    p {
      margin: 14px 0;
    }

    ul,
    ol,
    dl {
      margin-left: 0;

      li {
        margin: 6px 0;
      }
    }

    img {
      margin: 10px 0;
    }

    blockquote {
      padding-top: 0;

      > p {
        margin-top: 0;
        margin-bottom: 0;
      }
    }
  }
}
